---
import Layout from '../../layouts/Layout.astro';
import PlayListItemCard from '@/components/PlayListItemCard.astro';
import { allPlaylists, songs } from '@/lib/data';

const { id } = Astro.params;
const playlist = allPlaylists.find((playlist) => playlist.id === id);

const playListSongs = songs.filter((song) => playlist?.albumId === id);

---

<Layout title="Spotify Clone">
	<section 
    id="playlist-container" 
    class="relative flex flex-col h-full bg-zinc-900 overflow-x-hidden"
    transition:name=`playlist ${id} box`>
    <!-- <PageHeader />-->
    <header class="flex flex-row gap-8 px-6 mt-20 z-10">
      <picture class="aspect-square w-52 h-52 flex-none">
        <img 
          src={playlist?.cover} 
          alt={`Cover of ${playlist?.title}`} 
          class="object-cover w-full h-full shadow-lg"
          transition:name=`playlist ${playlist?.id} image`
        />
      </picture>

      <article class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end">Playlist</h2>
        
        <article>
          <h3 class="text-6xl text-white font-bold block">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h3>
        </article>

        <article class="flex flex-1 items-end">
          <article class="text-sm text-zinc-400 font-normal">
            <div transition:name=`playlist ${playlist?.id} artists`>
              <span>{playlist?.artists.join(', ')}</span>
            </div>
            <p class="mt-1">
              <span>50 canciones</span>, 3h aproximadamente
            </p>
          </article>
        </article>

      </article>


    </header>
    <article class="relative px-6 pt-12 pb-20 z-10">
    </article>

    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-800/80"></div>

  </section>
</Layout>
