---
import type { Playlist } from '@/lib/data';
import { CardPlayButton } from '@/components/CardPlayButton.jsx';
interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color} = playlist;

const artistString = artists.join(', ');
---
<article class="group relative h-[285px] bg-zinc-500/30 rounded-md shadow-lg hover:bg-zinc-800 hover:shadow-xl">

  <div class=`absolute right-4 bottom-[7.8rem] translate-y-4 shadow-lg transition-all duration-300 opacity-0 z-10 group-hover:translate-y-0 group-hover:opacity-100`>
    <CardPlayButton id={id} client:visible />
  </div>


  <a 
    href={`/playlist/${id}`}
    class="playlist-item relative flex flex-col h-full overflow-hidden p-2 pb-1 w-44"
    transition:name=`playlist ${id} box`
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img 
        src={cover} 
        alt={`Cover of ${title} by ${artistString}`} 
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist ${id} image`
        />
    </picture>

    <article class="flex flex-auto flex-col px-2 pt-2">
      <h4 
        class="text-white text-m font-semibold truncate"
        transition:name=`playlist ${id} title` 
      >
        {title}
      </h4>
      <legend 
        class="text-sm text-zinc-300/80 line-clamp-2"
        transition:name=`playlist ${id} artists`
      >
        {artistString}
      </legend>
    </article>
  </a>
</article>